# xenopsd-cli VM config: xenopsd-cli add /domu/riscv.cfg
name = "riscv1"
builder = "riscv"
kernel = "/domu/Image.gz"
ramdisk = "/domu/initrd.img"
root = "earlycon=sbi keep_bootcon rw root=/dev/ram"
memory = 256
vcpus = 1
